<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel *ngIf="userIsAuthenticated">
        <mat-expansion-panel-header>
          Product
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLink="/app-product-create" routerLinkActive="mat-accent">Create New Product</a>
        </mat-nav-list>
        <mat-nav-list dense>
          <a mat-list-item routerLink="/app-product-list" routerLinkActive="mat-accent">Product List</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="userIsAuthenticated">
        <mat-expansion-panel-header>
          User
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLink="/app-register-user" routerLinkActive="mat-accent">Register</a>
          <a mat-list-item routerLink="/app-login-user" routerLinkActive="mat-accent">Login</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="userIsAuthenticated">
        <mat-expansion-panel-header>
          Shop
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLink="/app-register-shop" routerLinkActive="mat-accent">Register Shop</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- <mat-nav-list>
      <a mat-list-item routerLink="/app-register-user">Register User</a>
      <a mat-list-item routerLink="/app-register-shop">Register Shop</a>

    </mat-nav-list> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>WeKirana Management System</span>
      <span class="spacer"></span>
      <ul>
        <li *ngIf="!userIsAuthenticated">
          <a mat-button routerLink="/app-login" routerLinkActive="mat-accent">Login</a>
          <!-- <a mat-button routerLink="/app-register-user" routerLinkActive="mat-accent">Log Out</a> -->
          <a mat-button routerLink="/app-signup" routerLinkActive="mat-accent">Sign Up</a>
        </li>
        <li *ngIf="userIsAuthenticated">
          <button mat-button>Logout</button>
        </li>

      </ul>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
