<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Product
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLink="/app-product-create">Create New Product</a>
        </mat-nav-list>
        <mat-nav-list dense>
          <a mat-list-item routerLink="/app-product-list">Product List</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          User
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLink="/app-register-user">Register</a>
          <a mat-list-item routerLink="/app-login-user">Login</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Shop
        </mat-expansion-panel-header>
        <mat-nav-list dense>

          <a mat-list-item routerLink="/app-register-shop">Register Shop</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- <mat-nav-list>
      <a mat-list-item routerLink="/app-register-user">Register User</a>
      <a mat-list-item routerLink="/app-register-shop">Register Shop</a>

    </mat-nav-list> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>WeKirana Management System</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
