.mat-card {
  width: 97%;
}

.mat-form-field {
  width: 100%;
}
/* .main-div{
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
} */


.shop-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.shop-radio-button {
  margin: 5px;
}


