/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
  margin-top: 0rem;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: #e0baba;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
